node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

.idea/
yarn.lock
note.txt
backup/
__tests__/
note.md
test.json
test.html
.env
.expo-shared/
yarn-error.log
